#linkStyle {
  text-decoration: none;
}

#cardContainer {
  padding: 16px;
  background-color: #ffffff;
  border: 1px solid #d0d7de;
  border-radius: 6px;
  box-shadow: none;
}

#cardContainer:hover {
  background-color: #f6f8fa;
  border: 1px solid #cb3837;
}

#repoName {
  font-weight: 600;
  color: #cb3837;

}

#info {
  font-size: 12px;
  color: #57606a;
}

#public {
  display: inline-block;
  padding: 0 7px;
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  white-space: nowrap;
  border: 1px solid #d0d7de;
  border-radius: 2em;
  color: #57606a;
  text-transform: capitalize;
}

#firstIcon {
  width: 16px;
  height: 16px;
  margin: 0 2px;
  color: #424a53;
}

#secondIcon {
  width: 16px;
  height: 16px;
  margin: 0 2px 0px 20px;
  color: #424a53;
}

#thirdIcon {
  width: 20px;
  height: 20px;
  margin: 0 2px -2px 20px;
  color: #424a53;
}
